#set($p1 = $request.getParameter("p1"))
#set($title="basewar KV字典编辑")

<table width="400px" align="center">
	#if($!{p1})
		#set($datadict_kv = $botool.getDataDictKv($p1))
		
		#if($!{datadict_kv})
			<tr><th align="right">名称</th><td align="left"><input type="text" id="name" value="$datadict_kv.name"></td></tr>
			<tr><th align="right">键</th><td align="left"><input type="text" id="itemkey" value="$datadict_kv.itemkey"></td></tr>
			<tr><th align="right">值</th><td align="left"><input type="text" id="itemvalue" value="$datadict_kv.itemvalue"></td></tr>
			<tr><th align="right">有效</th><td align="left"><input type="text" id="used" value="$datadict_kv.used"></td></tr>
		#else
			<tr><td colspan="2">无法查询到相应的数据项</td></tr>
		#end
	#else
		<tr><td colspan="2">缺少参数 </td></tr>
	#end
	<tr><td colspan="2"><input type="button" value="保存" onclick="javascript:savedatadict_kv($datadict_kv.ddid)"/></a>&nbsp;<input type="button" onclick="javasript:history.back(-1)" value="返回"/> </td></tr>
<table>

